@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Pontano+Sans);

/* GENERAL TYPOGRAPHY */

body {
	font-family: 'Pontana Sans', sans-serif;
	font-weight: lighter;
	word-spacing: 2px;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

h1, h2, h3 { text-transform: uppercase; margin-top: 20px; }

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }

a, a:hover, a:visited {
	color: #3576be;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}

/* GENERAL IMAGE HANDLING */
img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.aboutme img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* GENERAL HR HANDLING */

hr {
	border-top: 3px solid rgba(0, 0, 0, 0.05);
	height: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* GENERAL SHARING STYLES */

.share {
	height: 48px;
}

.share > a > span {
	width: 48px;
	height: 48px;
	/* border-radius: 48px; */
	background-size: 48px 48px;
	background-position: center;
	/* background-color: black; */
	opacity: 0.5;
	margin-right: 5px;
	float: left;
}

.share > a:last-child:after > span {
	clear: both;
}

.share > a:hover > span {
	opacity: 1.0;
}

.onTwitter {
	background-image: url('/img/social/twitter-128.png');
}

.onGooglePlus {
	background-image: url('/img/social/googleplus-128.png');
}

.onLinkedIn {
	background-image: url('/img/social/linkedin-128.png');
}

.onXing {
	background-image: url('/img/social/xing-128.png');
}

/* POST */

.share, .tags {
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.5);
}

.tags a, .tags a:hover, .tags a:visited {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.tags .tag {
	background: rgba(255, 255, 255, 0.5);
	padding: 2px 10px 2px 10px;
	margin-bottom: 2px;
	border-radius: 20px;
	line-height: 1.75;
}

.tags .tag:hover {
	color: white;
	background: #ad0a22;
}

header {
	overflow: hidden;
	position: relative;
	margin-top: 0px;
	margin-bottom: 20px;
}

header .headline {
	padding: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 5000px;
	color: rgba(255, 255, 255, 0.9);
}

header .headline h2 {
	margin: 0px;
}

footer {
	padding-top: 20px;
}

/* ADDITIONAL TAB STYLING */
.nav-tabs .active {
	border-top: 5px solid darkred;
}

.nav-tabs li a {
	margin-right: 0px;
	border-radius: 0px;
}

/* TABBODY */
.tabbody {
	padding: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* NAVBAR */

.navbar {
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
	background: black;
	color: #ffffff;
}

.navbar .navbar-toggle {
	color: white;
	border-color: white;
}

.navbar .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar .nav li a {
	color: rgba(255, 255, 255, 0.5);
}

.navbar .nav li#about:hover {
	border-top: 5px solid #428bca;
  border-bottom: 0px;
}

.navbar .nav li#about {
	border-bottom: 5px solid #428bca;
}

.navbar .nav li#about:hover a {
	color: #428bca;
	background: transparent;
}

.navbar .nav li#archive:hover {
	border-top: 5px solid lightgrey;
  border-bottom: 0px;
}

.navbar .nav li#archive:hover a {
	color: lightgrey;
  background: transparent;
}

.navbar .nav li#archive {
	border-bottom: 5px solid lightgrey;
}

.navbar .nav li#lectures:hover {
	border-top: 5px solid #cc9900;
  border-bottom: 0px;
}

.navbar .nav li#lectures:hover a {
	color: #cc9900;
  background: transparent;
}

.navbar .nav li#lectures {
	border-bottom: 5px solid #cc9900;
}

.navbar .nav li#thesis:hover {
	border-top: 5px solid darkred;
	border-bottom: 0px;
}

.navbar .nav li#thesis:hover a {
	color: darkred;
  background: transparent;
}

.navbar .nav li#thesis {
	border-bottom: 5px solid darkred;
}

.navbar .nav li#publications:hover {
	border-top: 5px solid white;
  border-bottom: 0px;
}

.navbar .nav li#publications:hover a {
	color: white;
	background: transparent;
}

.navbar .nav li#publications {
	border-bottom: 5px solid white;
}

.navbar .navbar-brand {
	font-family: 'Dosis', sans-serif;
	font-size: 3.0rem;
	color: white;
}

.navbar .navbar-collapse img {
	height: 24px;
}

/* HOME PAGE */

#home {
	background-color: darkgray;
	color: rgba(255, 255, 255, 0.75);
	background-image: url('/img/landing/keyboard.jpg');
	background-position: center center;
	background-size: cover;
}

#home h1, #home h2, #home h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

#home a {
	font-weight: bold;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5);
}

#home .row {
	text-align: center;
	padding-top: 50px;
}

#home .row h1 {
	font-size: 6.5rem;
}

#home h1 small {
	color: rgba(0, 0, 0, 0.5);
}

#home h2 small {
	color: rgba(0, 0, 0, 0.5);
}

#home img {
	opacity: 0.75;
	width: 33%;
}

#home .row:last-child {
	padding-bottom: 50px;
}

#home + .content .row {
	margin-top: 0px;
}

#home .tagcloud {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255, 0.75);
}

/* TEASER STYLING */

.postteaser {
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.05);
}

.postteaser .head {
	position: relative;
	overflow: hidden;
}

.postteaser .head h3 {
	position: absolute;
	width: 100%;
	height: 5000px;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.postteaser .head h3 a, .postteaser .head h3 small {
	color: rgba(255, 255, 255, 0.9);
}

.postteaser p {
	padding: 20px;
}

/* TAGTEASER STYLING */
.tagteaser tr td:first-child {
	white-space: nowrap;
}

.tagteaser tr td {
	vertical-align: top;
	padding: 0.5em;
}

.tagteaser tr:nth-child(odd) td {
	background-color: rgba(0, 0, 0, 0.05);
}

.tagteaser tr:last-child td {
	border-bottom: 0px solid transparent;
}

/* ABOUT ME STYLING (Landing Page) */
.aboutme {
	background-color: rgba(0, 0, 0, 0.05);
	margin-bottom: 40px;
}

.aboutme .headline {
	position: relative;
	overflow: hidden;
}

.aboutme .headline h3 {
	position: absolute;
	width: 100%;
	height: 5000px;
	top: 0px;
	left: 0px;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.aboutme h3 a, .aboutme h3 small {
	color: rgba(255, 255, 255, 0.9);
}

.aboutme p {
	padding: 20px;
}

/* SOCIALSITES STYLING (Landing Page, Right Bar) */
.socialsites {
	text-align: left;
}

.socialsites img {
	width: 32px;
	opacity: 0.5;
}

.socialsites img:hover {
	opacity: 1.0;
}

/* BIBLIOGRAPHY */
.bibliography {
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
	font-size: 1.7rem;
}

.bibliography li {
	padding: 5px;
}

.bibliography li {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.bibliography li:first-child {
	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.bibliographydetails {
	font-size: 1.7rem;
}

.bibliographydetails tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.bibliographydetails tr th {
	background: rgba(0, 0, 0, 0.1);
}

.bibliographydetails tr th, .bibliographydetails tr td {
	padding: 5px 20px 5px 20px;
	vertical-align: top;
}

/* ABOUT ME STYLING */
#about .row {
	margin-bottom: 80px;
}


/* CENTRAL CONTENT AREA */

.navbar-fixed-top + .content {
	margin-top: 50px;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

article.lecture {
	border-top: 10px solid #cc9900;
}

article.thesis {
	border-top: 10px solid darkred;
}

/* FOOTER */
.end {
	font-size: 0.66em;
	font-weight: 400;
	border-top: 5px solid #ad0a22;
	background: black; /*rgba(0, 0, 0, 0.9); /* #171c26; */
	color: rgba(255, 255, 255, 0.5);
}

.end .row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.end .block {
	margin: 20px 0px 20px 0px;
}

.end .socialsites img {
	width: 48px;
	opacity: 0.5;
}

.end .socialsites img:hover {
	opacity: 1.0;
}

.end .officialsites img {
	height: 64px;
	margin-top: 10px;
	margin-right: 20px;
	opacity: 0.5;
}

.end .officialsites img:hover {
	opacity: 1.0;
}

.footer {
	color: rgba(255, 255, 255, 0.5);
	background: #3576be; /*#4076be; /* #171c26; */
	font-size: 0.66em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer a, .share a {
	color: rgba(255, 255, 255, 0.5);
}

.footer a:hover, .share a:hover {
	color: white;
}
