@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

/* GENERAL TYPOGRAPHY */

body {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	word-spacing: 2px;
	font-size: 16px;
	color: rgb(50, 50, 50);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

h1, h2, h3 {
	text-transform: uppercase;
	margin-top: 20px;
}

article section h1,
article section h2,
article section h3 {
	margin-top: 5rem;
	border-bottom: 1px solid rgb(50, 50, 50);
}

.thesis > .disclosure > h3 {
	border-bottom: 0px solid transparent;	
}

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2rem; }

a, a:hover, a:visited {
	color: #3576be;
	text-decoration: none;
}

ul {
	padding-left: 1.5em;
}

/* GENERAL IMAGE HANDLING */
img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.aboutme img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* GENERAL HR HANDLING */

hr {
	border-top: 3px solid rgba(0, 0, 0, 0.05);
	height: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* GENERAL SHARING STYLES */

.rightbar {
	float: right;
	text-align: right;
	margin-right: -40px;
	margin-left: 20px;
	background-color: white;
	/*box-shadow: 1px 0px 5px lightgrey inset;*/
}

.rightbar h3 {
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 5px;
	font-size: 1em;
	border-bottom: 0px solid transparent;
}

.share > a > span {
	width: 40px;
	height: 40px;
	/* border-radius: 48px; */
	background-size: 40px 40px;
	background-position: center;
	/* background-color: black; */
	/* opacity: 0.5; */
	margin-right: 5px;
	/* float: left; */
}

/*.share > a:last-child:after > span {
	clear: both;
}*/

.share > a:hover > span {
	border-bottom: 5px solid black;
}

/* POST */

.share, .tags {
	/*margin-bottom: 20px;*/
	color: rgba(255, 255, 255, 0.5);
}

.share img {
	width: 48px;
	margin-right: -5px;
	border-right: 5px solid black;
	margin-bottom: 2px;
	opacity: 0.5;
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
}

.share li:last-child img {
	margin-bottom: 0px;
}

.share img:hover {
	opacity: 1.0;
}

.share ul {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 0px;
}

.tags a, .tags a:hover, .tags a:visited {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.tags ul {
	margin-left: 10px;
	padding-left: 0px;
	margin-right: -5px;
	list-style-type: none;
}

.teaser .tags ul {
	float: right;
	margin-right: -25px;
}

.tags li {
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
	text-align: right;
	margin-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 5px solid grey;
	font-size: 0.8em;
}

.tags .tag {
	line-height: 1.75;
}

.tags li:hover {
	color: white;
	background: #3576be;
	border-right: 5px solid #3576be;
}

.tags li:hover a {
	color: white;
}

header {
	overflow: hidden;
	position: relative;
	margin-top: 0px;
	margin-bottom: 20px;
}

header .headline {
	padding: 20px 40px 20px 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 5000px;
	color: rgba(255, 255, 255, 0.9);
}

header .headline h2 {
	margin: 0px;
}

footer {
	padding-top: 20px;
}

/* ADDITIONAL TAB STYLING */
.nav-tabs .active {
	border-top: 5px solid darkred;
}

.nav-tabs li a {
	margin-right: 0px;
	border-radius: 0px;
}

/* TABBODY */
.tabbody {
	padding: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* NAVBAR */

.navbar {
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
	background: black;
	color: #ffffff;
}

.navbar .navbar-toggle {
	color: white;
	border-color: white;
}

.navbar .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar .nav li {
	width: 80px;
	text-align: center;
	font-size: 0.9em;
	white-space: nowrap;
}

.navbar .nav li a {
	color: rgba(255, 255, 255, 0.5);
	padding-left: 0px;
	padding-right: 0px;
}

.navbar .nav li#about:hover {
	border-top: 5px solid #428bca;
  border-bottom: 0px;
}

.navbar .nav li#about {
	border-bottom: 5px solid #428bca;
}

.navbar .nav li#about:hover a {
	color: #428bca;
	background: transparent;
}

.navbar .nav li#blog:hover {
  border-top: 5px solid #356AA0;
	border-bottom: 0px;
}

.navbar .nav li#blog {
	border-bottom: 5px solid #356AA0;
}

.navbar .nav li#blog:hover a {
	color: #356AA0;
	background: transparent;
}

.navbar .nav li#archive:hover {
	border-top: 5px solid lightgrey;
  border-bottom: 0px;
}

.navbar .nav li#archive:hover a {
	color: lightgrey;
  background: transparent;
}

.navbar .nav li#archive {
	border-bottom: 5px solid lightgrey;
}

.navbar .nav li#lectures:hover {
	border-top: 5px solid #cc9900;
  border-bottom: 0px;
}

.navbar .nav li#lectures:hover a {
	color: #cc9900;
  background: transparent;
}

.navbar .nav li#lectures {
	border-bottom: 5px solid #cc9900;
}

.navbar .nav li#research:hover {
	border-top: 5px solid #6BBA70;
	border-bottom: 0px;
}

.navbar .nav li#research:hover a {
	color: #6BBA70;
	background: transparent;
}

.navbar .nav li#research {
	border-bottom: 5px solid #6BBA70;
}

.navbar .nav li#thesis:hover {
	border-top: 5px solid darkred;
	border-bottom: 0px;
}

.navbar .nav li#thesis:hover a {
	color: darkred;
  background: transparent;
}

.navbar .nav li#thesis {
	border-bottom: 5px solid darkred;
}

.navbar .nav li#publications:hover {
	border-top: 5px solid white;
  border-bottom: 0px;
}

.navbar .nav li#publications:hover a {
	color: white;
	background: transparent;
}

.navbar .nav li#publications {
	border-bottom: 5px solid white;
}

.navbar .navbar-brand {
	font-family: 'Dosis', sans-serif;
	font-size: 3.0rem;
	color: white;
}

.navbar .navbar-brand .brand-icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background-image: url('/img/topic/cloud.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.navbar .navbar-collapse img {
	height: 24px;
}

/* HOME PAGE */

#home {
	background-color: darkgray;
	color: rgba(255, 255, 255, 0.75);
	background-image: url('/img/landing/keyboard.jpg');
	background-position: center top;
	background-size: cover;
}

#home h1, #home h2, #home h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

#home a {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
}

#home .row {
	text-align: center;
	padding-top: 50px;
}

#home .row h1 {
	font-size: 6.5rem;
}

#home h1 small {
	color: rgba(0, 0, 0, 0.5);
}

#home h2 small {
	color: rgba(0, 0, 0, 0.5);
}

#home img {
	opacity: 0.75;
	width: 33%;
}

#home .row:last-child {
	padding-bottom: 50px;
}

#home + .content .row {
	margin-top: 0px;
}

#home + .content {
	background-color: rgba(0, 0, 0, 0.1);
}

#home ~ .content {
	text-align: center;
}

#actionnavigation, #tagnavigation {
	text-align: center;
}

#actionnavigation {
	padding-top: 80px;
	padding-bottom: 40px;
}

#actionnavigation .action {
	padding: 20px 20px;
	margin: 20px auto 20px auto;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.05),  transparent 150px);
}

#actionnavigation .action a {
	color: rgba(0, 0, 0, 0.75);
	font-weight: bold;
}

#actionnavigation .action img {
	opacity: 0.75;
	width: 100px;
}

#actionnavigation .action small {
	min-height: 4em;
	display: block;
}


#actionnavigation .more {
	border: 1px solid rgba(0, 0, 0, 0.5);
	width: 150px;
	color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	margin: 40px auto 10px auto;
	border-radius: 5px;
}

#actionnavigation .more a {
	color: black;
	font-weight: normal;
}

#actionnavigation .blog {
	border-top: 10px solid #356AA0;
}

#actionnavigation .lecture {
	border-top: 10px solid #cc9900;
}

#actionnavigation .thesis {
	border-top: 10px solid darkred;
}

#actionnavigation .research {
	border-top: 10px solid #6BBA70;
}

/* NEWS SECTION (Landing page) */
.news {
	margin-bottom: 40px;
	padding: 40px;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05), transparent);
	border: 5px solid lightgrey;
}

.news h3 {
	margin-top: 0px;
}

/* TAG CLOUD */

#tagnavigation {
	/*background-image: linear-gradient(transparent 100px, rgba(0, 0, 0, 0.2));*/
	padding-top: 80px;
	padding-bottom: 80px;
}

.navbar + #tagnavigation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent 75%);
}

#home + #actionnavigation + #tagnavigation + .content {
	display: none;
}

.tagcloud {
	color: rgba(0, 0, 0, 0.5);
}

/* TEASER STYLING */

.postteaser {
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.05);
}

.postteaser .head {
	position: relative;
	overflow: hidden;
}

.postteaser .head h3 {
	position: absolute;
	width: 100%;
	height: 5000px;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.postteaser .head h3 a, .postteaser .head h3 small {
	color: rgba(255, 255, 255, 0.9);
}

.postteaser p {
	padding: 20px;
}

/* TAGTEASER STYLING */
.tagteaser {
	border-collapse: separate;
	width: 100%;
}

.tagteaser tr td.year {
	background-color: transparent !important;
}

.tagteaser tr td.year h4 {
	margin-top: 0px;
}

.tagteaser tr td:first-child {
	white-space: nowrap;
}

.tagteaser tr td.category {
	width: 5px;
	padding: 0px;
  background-color: #356AA0 !important;
}

.tagteaser tr {
	border: 1px solid black;
}

.tagteaser tr td.lecture {
	background-color: #cc9900 !important;
}

.tagteaser tr td.thesis {
	background-color: darkred !important;
}

.tagteaser tr td.research {
	background-color: #6BBA70 !important;
}

.tagteaser tr td {
	vertical-align: top;
	padding: 0.5em;
	border-bottom: 5px solid white;
}

.tagteaser tr:last-child td {
	border-bottom: 0px solid transparent;
}

.tagteaser tr:nth-child(odd) td {
	background: rgba(0, 0, 0, 0.05);
}

.tagteaser tr:nth-child(even) td {
	background: rgba(0, 0, 0, 0.025);
}

/* ABOUT ME STYLING (Landing Page) */
.aboutme {
	background-color: rgba(0, 0, 0, 0.05);
	margin-bottom: 40px;
}

.aboutme .headline {
	position: relative;
	overflow: hidden;
}

.aboutme .headline h3 {
	position: absolute;
	width: 100%;
	height: 5000px;
	top: 0px;
	left: 0px;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.aboutme h3 a, .aboutme h3 small {
	color: rgba(255, 255, 255, 0.9);
}

.aboutme p {
	padding: 20px;
}

/* SOCIALSITES STYLING (Landing Page, Right Bar) */
.socialsites {
	text-align: left;
}

.socialsites img {
	width: 32px;
	opacity: 0.5;
}

.socialsites img:hover {
	opacity: 1.0;
}

/* BIBLIOGRAPHY */
#bibliography h3 {
	margin-top: 2em;
	border-bottom: 1px solid black;
}

.bibliography {
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
	font-size: 1.7rem;
}

.bibliography li {
	padding: 5px;
}

.bibliography li {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.bibliography li:first-child {
	border-top: 0px solid transparent;
}

.bibliographydetails {
	font-size: 1.7rem;
}

.bibliographydetails tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.bibliographydetails tr th {
	background: rgba(0, 0, 0, 0.1);
}

.bibliographydetails tr th, .bibliographydetails tr td {
	padding: 5px 20px 5px 20px;
	vertical-align: top;
}

/* ABOUT ME STYLING */
#about .row {
	margin-bottom: 80px;
}

/* ResearchGate Styling */
.researchgate a {
		padding-left: 5px;
		padding-right: 5px;
		color: white;
		background-color: grey;
		text-decoration: none;
}

.researchgate a em {
	color: #94c034;
	font-style: normal;
}

/* THUMBNAIL STYLING */
.thumbnail {
	padding: 0px;
	height: 360px;
	overflow: hidden;
	border-radius: 0px;
}

div.lecture {
	border-top: 5px solid #cc9900;
}

div.blog {
	border-top: 5px solid #356AA0;
}

.row > div > div.thesis {
	border-top: 5px solid darkred;
}


/* CENTRAL CONTENT AREA */

.navbar-fixed-top + .content {
	margin-top: 50px;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

article.post {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

article.post section {
	padding: 20px 40px 20px 40px;
}

article.post {
	border-top: 10px solid #356AA0;
}

article.lecture {
	border-top: 10px solid #cc9900;
}

article.thesis {
	border-top: 10px solid darkred;
}

article.research {
	border-top: 10px solid #6BBA70;
}

article.post .funded {
	font-size: 0.9em;
	font-style: italic;
	border-top: 5px solid grey;
	background: lightgrey;
	padding: 40px;
	margin: 40px -40px -50px -40px;
}

article.post .funded img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	margin-right: 20px;
}

article.post table.project th {
	padding-right: 40px;
}

article.post table.project th,  article.post table.project td {
	vertical-align: top;
	text-align: left;
	font-size: 0.8em;
}

article.post table.project tr td ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

/* DISCLOSURE BLAMEING */
.thesis .disclosure {
	background-color: #ad0a22;
	background-image: url('/img/topic/sad-icon-white.png');
	background-position: 40px 40px;
	background-size: 80px 80px;
	background-repeat: no-repeat;
	color: rgba(255, 255, 255, 0.7);
	min-height: 160px;
	padding: 40px;
	padding-left: 160px;
	margin-top: 40px;
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: -40px;
}

.thesis .disclosure a {
	color: white;
	font-style: italic;
}

/* THESIS OUTCOME */
.thesis .outcome {
	background-color: #3576be;
	padding: 40px;
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 40px;
	margin-bottom: -40px;
	text-align: center;
}

.thesis .outcome .document a, .thesis .outcome .sourcecode a {
	color: white;
}

/* FOOTER */
.end {
	font-size: 0.66em;
	font-weight: 400;
	border-top: 5px solid #ad0a22;
	background: black; /*rgba(0, 0, 0, 0.9); /* #171c26; */
	color: rgba(255, 255, 255, 0.5);
}

.end .row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.end .block {
	margin: 20px 0px 20px 0px;
}

.end .socialsites img {
	width: 48px;
	opacity: 0.5;
}

.end .socialsites img:hover {
	opacity: 1.0;
}

.end .officialsites img {
	height: 64px;
	margin-top: 10px;
	margin-right: 20px;
	opacity: 0.5;
}

.end .officialsites img:hover {
	opacity: 1.0;
}

.footer {
	color: rgba(255, 255, 255, 0.5);
	background: #3576be; /*#4076be; /* #171c26; */
	font-size: 0.66em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer a, .share a {
	color: rgba(255, 255, 255, 0.5);
}

.footer a:hover, .share a:hover {
	color: white;
}
