@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Pontano+Sans);

/* GENERAL TYPOGRAPHY */

body {
	font-family: 'Pontana Sans', sans-serif;
	font-weight: lighter;
	word-spacing: 2px;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

h1, h2, h3 { text-transform: uppercase; margin-top: 50px; }

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }

/* GENERAL IMAGE HANDLING */
img {
	opacity: 0.25;
}

img.photo {
	opacity: 1.0;
}

/* GENERAL HR HANDLING */

hr {
	border-top: 3px solid rgba(0, 0, 0, 0.05);
	height: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* GENERAL SHARING STYLES */

.share > a > span {
	width: 48px;
	height: 48px;
	/* border-radius: 48px; */
	background-size: 48px 48px;
	background-position: center;
	background-color: black;
	opacity: 0.25;
	margin-right: 5px;
}

header .share > a > span {
	float: left;
}

footer .share > a > span {
	float: right;
}

.share > a:hover > span {
	opacity: 1.0;
}

.onTwitter {
	background-image: url('/img/social/twitter-128.png');
}

.onGooglePlus {
	background-image: url('/img/social/googleplus-128.png');
}

.onLinkedIn {
	background-image: url('/img/social/linkedin-128.png');
}

.onXing {
	background-image: url('/img/social/xing-128.png');
}



/* POST */

.share, .tags {
	margin-bottom: 20px;
	height: 100%;
}

.tags .tag {
	background: rgba(0, 0, 0, 0.1);
	padding: 2px 10px 2px 10px;
	margin-bottom: 2px;
	/* border-radius: 20px; */
	color: black;
	line-height: 1.75;
}

.tags .tag:hover {
	color: white;
	background: #ad0a22;
}

header .share, footer .tags {
	text-align: left;
}

header .tags, footer .share {
	text-align: right;
}

footer {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	padding-top: 20px;
}

/* NAVBAR */

.navbar {
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	background: rgba(0, 0, 0, 0.8); /* #171c26; */
	color: #ffffff
	border: 0px;
}

.navbar .navbar-brand {
	font-family: 'Courier', monospace;;
	font-size: 3.0rem;
	color: white;
}

.navbar .navbar-collapse img {
	height: 24px;
}

.navbar .navbar-collapse img:hover {
	opacity: 1.0;
}

/* HOME PAGE */

#home {
	background-color: #ad0a22;
	color: rgba(255, 255, 255, 0.75);
}

#home h1, #home h2, #home h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

#home a {
	font-weight: bold;
	font-style: italic;
}

#home .row {
	text-align: center;
	padding-top: 50px;
}

#home .row h1 {
	font-size: 6.5rem;
}

#home h1 small, #home a {
	color: rgba(0, 0, 0, 0.25);
}

#home img {
	opacity: 0.75;
	width: 33%;
}

#home .row:last-child {
	padding-bottom: 50px;
}

#home + .content .row {
	margin-top: 0px;
}

/* BIBLIOGRAPHY */
.bibliography {
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
	font-size: 1.7rem;
}

.bibliography li {
	padding: 5px;
}

.bibliography li {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.bibliography li:first-child {
	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.bibliographydetails {
	font-size: 1.7rem;
}

.bibliographydetails tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.bibliographydetails tr th {
	background: rgba(0, 0, 0, 0.1);
}

.bibliographydetails tr th, .bibliographydetails tr td {
	padding: 5px 20px 5px 20px;
	vertical-align: top;
}


/* CENTRAL CONTENT AREA */
.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* FOOTER */
.end {
	font-size: 0.66em;
	font-weight: 400;
	border-top: 5px solid #ad0a22;
	background: black; /*rgba(0, 0, 0, 0.9); /* #171c26; */
	color: rgba(255, 255, 255, 0.5);
}

.end .row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.end .block {
	margin: 20px 0px 20px 0px;
}

.end .socialsites img {
	width: 48px;
	opacity: 0.5;
}

.end .socialsites img:hover {
	opacity: 1.0;
}

.end .officialsites img {
	height: 64px;
	margin-top: 10px;
	margin-right: 20px;
	opacity: 0.5;
}

.end .officialsites img:hover {
	opacity: 1.0;
}

.footer {
	color: rgba(255, 255, 255, 0.5);
	background: #3576be; /*#4076be; /* #171c26; */
	font-size: 0.66em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer a {
	color: rgba(255, 255, 255, 0.5);	
}

.footer a:hover {
	color: white;
}