table.cv {
  border-collapse: collapse;
  font-size: 0.9em;
}

table.cv tr td:first-child {
  width: 0.5em;
  background-color: black
}

table.cv tr td:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.05);
}

table.cv tr td.start {
  border-bottom-left-radius: 10px;
}

table.cv tr td.progress {
  border-radius: 0px;
}

table.cv tr td:nth-child(2) {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.05);
}

table.cv tr td:nth-child(3) {
  padding: 0.5em;
}

table.cv tr:last-child td:first-child {
  background-color: transparent;
  background-image: linear-gradient(black, transparent);
}

table.cv tr:last-child td:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.05), transparent);
}

table.cv tr:first-child td:first-child {
  background-color: transparent;
  background-image: linear-gradient(transparent, black);
}

table.cv tr:first-child td:nth-child(2) {
  background-color: transparent;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}

table.cv tr td.end {
  border-top-left-radius: 10px;
  border-top: 0px solid transparent;
}

table.cv tr td.avocationalstart {
  font-size: 0.8em;
  text-align: center;
  background-image: linear-gradient(0deg, transparent, #428bca);
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.75);
}

table.cv tr td.avocationalprogress {
  padding: 0.5em;
  background-color: #428bca;
}

table.cv tr td.avocational {
  padding: 0.5em;
  margin: 0.5em;
  padding-left: 25%;
  font-style: italic;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(90deg, transparent 10%, #428bca 50%, #428bca 100%);
}

table tr td:last-child {
  padding: 0.5em;
  color: #428bca;
  border-left: 2px dashed #428bca;
  border-top: 0px solid transparent !important;
}

table.cv tr td.avocationalend {
  padding: 0.5em;
  border-top-right-radius: 10px;
  background-color: #428bca;
  color: rgba(0, 0, 0, 0.5);
}

table.cv tr td.date {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  color: black;
}

table.cv tr td.end ~ td {
  border-top: 2px solid black;
}
