		.teaser {
			padding: 0px;
			margin: 0px;
		}

		.teaser .sep {
			height: 40px;
		}

		.teaser .post {
			background-color: transparent;
			border-left: 20px solid rgba(0, 0, 0, 0.5);
			/*border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;*/
			padding: 20px;
			margin-bottom: 20px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
		}

		.teaser .post h3 a {
			color: rgba(0, 0, 0, 0.5);
		}

		.teaser .thesis {
			border-left: 20px solid darkred;
		}

		.teaser .lecture {
			border-left: 20px solid #cc9900;
		}

		.teaser .project {
			border-left: 20px solid darkgreen;
		}

		.teaser .content {
			margin: 0px;
			padding: 0px;
			font-style: italic;
		}

		.teaser .content h3 {
			margin-top: 0px;
		}

		.teaser .content p {
			padding: 20px 20px 20px 20px;
		}


		.teaser .meta {
			font-family: 'Dosis', sans-serif;
			font-size: 1.25em;
			color: rgba(0, 0, 0, 0.5);
			margin-bottom: 20px;
		}

		.teaser img {
			width: 100%;
		}
