@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    text-align: center;
    font-size: 500%;
    font-weight: bold;
}

#sortingtable {
    margin-left: auto;
    margin-right: auto;
}

#sortingtable td {
    padding: 10px;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    background: lightgrey;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: black;
}

#sortingtable td:hover {
    font-size: 300%;
    background: darkgrey;
}

#sortingtable td.marked {
    background-color: black !important;
    color: white !important;
}

#sortingtable td.correct {
    background-color: lightgreen;
    color: darkgreen;
}

#timer {
    margin: 25px;
    padding: 25px;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}
