/* Pixel Font */
@font-face { font-family: font_pixel; src: url('kenpixel.otf'); }


/* Hauptfenster */
#window{
    display: flex;
    margin: auto;
    width: 70vh;
    height: 80vh;
    margin-top: 50px;
}

/* Statusfenster am unterem Rand */
#statusWindow{
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 70vh;
    height: 10vh;
    border: 1px solid #999;
    color: white;
    background: transparent;
}

/* Tabelle */
table {
    border-collapse: collapse;
    border: 1px solid #999;
}

td, th {
    padding: 8px;
}

/* Allgemeine Einstellungen zu bestimmten Elementen und Bildern */
img{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url("../pictures/background6.jpg");
}

.normalbutton {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    font-family: font_pixel;
}

#button_container{
    margin-top: 420px;
    margin-left: 25%;
}

#cancelHighscore{
    display: none;
}

#pauseText{
    margin: auto;
    font-size: x-large;
    display: none;
}

#gui{
    visibility: hidden;
    background-color: #999999;
    width : 150px;
    height: 540px;
    margin-top: 50px;
    text-align: center;
}

#gameoverscreen{
    display: none;
}

#highscore{
    margin-top: 150px;
    color: white;
    font-size: large;
    font-family: font_pixel;
}

#gameoverscreen input{
width: 200px;
}

#name{
    margin-left: 120px;
}

#gameoverscreen button{
    height: 40px;
    width: 70px;
    margin-left: 120px;
}

#gameover{
    margin-left: 25px;
}

#punkte{
    margin-top: 250px;
    color: azure;
    font-size: large;
    text-align: center;
}

#title{
    margin-top: -100px;
    margin-left: 25px;
}

/* Elemente die für Mobile unterstüzung notwendig sind */
#mobilebuttons{
    bottom: 15px;
    width: 100%;
    position: fixed;
}

.mobilebutton{
    background:  no-repeat;
    margin-left: 15px;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
}

#fire{
    margin-left: 65%;
}

/* einblendung der Mobilenbuttons nur ab einer bildschirmbreite unter 1025px */
.mobile-only {
        display:none !important;
    }

@media (max-width: 1025px) {
    .mobile-only {
        display:inline !important;
    }
    #window{
        transform: scale(0.6);
        margin-top: -50px;
    }
}