.innerElement{
  background-color: rgba(255,0,0,0.5);
  margin-top: 57%;
  margin-right: 2%;
  margin-left: 2%
}
.innerElementTable{
  width: 100%;
}
.innerElementRow0{

}
.innerElementRow1{

}

html, body {
  height:100%;
  background-image: url("img/background.jpg");
}


h1,h3, p {
  color: bisque;
  text-align: center;
  font-family: sans-serif;
  font-size: xx-large;
}
/*
ids im allgemeinen sollten deswegen keinen css-kram bekommen. die werden dann nur
zum selektieren von elementen benutzt und seltsame effects mit der view werden
vermieden
#spielView{
  height:100%;
}
#vorSpielViewView{
  height:100%;
}
#nachSpielViewView{
  height:100%;
}
#masterViewView{
  height:100%;
}*/
.vorSpielViewElement{
  height: 100%;
  width: 100%;
}
.spielViewElement{
  height: 100%;
  width: 100%;
}
.nachSpielViewElement{
  height: 100%;
  width: 100%;
}

/*--------------------------------------------------------------------------------------*/
/*---------------------------- Login Fenster -------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.loginview{
  position:absolute;
  top : 50%;
  left : 50%
}

.loginAnzeigen{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logintable{
  position: relative;
  top: 50%;
  left: -50%;
}

.benutzername{
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
  /* background-color: aqua; */
}

.passwort{
  border-width: thick;
  border-style: ridge;
  border-color: burlywood
}

.anmelden{
  position: relative;
  left: 39%;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}
.anmelden:hover{
  position: relative;
  left: 39%;;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.registrieren{
  position: relative;
  top: 96%;
  left: 37%;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}
.registrieren:hover{
  position: relative;
  top: 96%;
  left: 37%;;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.offlineSpielen {
  position: absolute;
  left: 18%;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}
.offlineSpielen:hover {
  position: absolute;
  left: 18%;
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------- Vor Spiel View -------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.vorSpielViewTable {
  width: 100%;
  height: 80%;
}

.vorSpielViewRow{
  background: rgba(220,160,140,0.5);
  width: 100%;
  height: 37%;
}

.kartenauswahl{
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: bisque;
}

.deck{
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: bisque;
}

.spieler {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: gold;
}

.factionButton{
  background-color: bisque;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
  /*position: relative;
  left: 45%;*/
}

.factionButton:hover{
  background-color: bisque;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
  /*position: relative;
  left: 45%;*/
}

.deckloeschen{
  background-color: bisque;
  position: relative;
  left: 41%;
  height: 3em;
  width: 11em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.deckloeschen:hover{
  background-color: bisque;
  position: relative;
  left: 41%;
  height: 3em;
  width: 11em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.spielstarten{
  background-color: bisque;
  position: relative;
  left: 46%;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.spielstarten:hover{
  background-color: bisque;
  position: relative;
  left: 46%;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.hilfeButton{
  background-color: bisque;
  position: relative;
  left: 41%;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.hilfeButton:hover{
  background-color: bisque;
  position: relative;
  left: 41%;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.vorspielKarte{
  max-width: 7%;
  min-width: 7%;
  /* height: 10%; */
  max-height: 90px;
  min-height: 90px;
  border-width: thin;
  border-style: solid;
  margin: 2px 2px 2px 2px;
  position: inherit;
  float: left;
  background-color: gray;
  overflow-wrap: break-word;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 88%;
}

.kartenStapelHook{
  overflow-y: scroll;
  max-height: 100%;
  min-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}


/*
.nahkampfKarte{
  background-image: url("img/rowhintergrund.jpg");
}*/
/*-----------------------------------------------------------------------------------*/
/*---------------------------- Spiel View -------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.spielfeldrow {
  /* margin: 3px 3px 3px 3px; */
  /* border-style: solid; */
  /* border-width: medium; */
  background-color: bisque;
  height: 14%;
  background-image: url("img/rowhintergrund.jpg");
  /* min-height: 14%; */
  /* vertical-align: inherit; */
  /* border-collapse: separate; */
}

.kartenAnzeige{
  background-color: bisque;
  height: 14%;
}

.spielViewTableLeft{
  width: 20%;
  background-color: wheat;
  float: left;
  /*float: left;
  width: 15%;
  height: 100%;*/
}

.borderKiSpieler{
  border-bottom-style: double;
}

.spielViewTableRight{
  width: 80%;
  float: right;
  height: 80%;
  background-color: black;
  /* float: right;
  width: 80%;
  height: 100%;
  border: solid;
  border-width: thin;*/
}
.spielViewTableRight_AP{
  width: 12%;
}

.spielViewKartenAnzeige{
  background-color: white;
  /* float: right; */
  width: 80%;
  height: 20%;
  /*float: right;
  width: 80%;
  boder: solid;
  border-width: thin;
  background-color: aqua;*/
}

.dummyCell{
  max-width: 100%;
  alignment: right;
}


#loadingGame {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}
.karte {
  max-width: 7%;
  min-width: 7%;
  height: 10%;
  border-width: thin;
  border-style: solid;
  margin: 2px 2px 2px 2px;
  position: absolute;
  background-color: gray;
  overflow-wrap: break-word;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 88%;
}

.spielViewTableRight_AP_belagerung{
  background-image: url("img/tank.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 33%;
}
.spielViewTableRight_AP_fernkampf{
  background-image: url("img/bow.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 33%;
}
.spielViewTableRight_AP_nahkampf{
  background-image: url("img/fist.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 33%;
}

.handButton{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.handButton:hover{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.graveyardButton{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.graveyardButton:hover{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.foldButton{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.foldButton:hover{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

.helpButton{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.helpButton:hover{
  background-color: bisque;
  height: 3em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}

/*----------------------------------------------------------------------------------*/
/*---------------------------- Nach Spiel View -------------------------------------*/
/*----------------------------------------------------------------------------------*/

.nachSpielViewTable{
  width: 100%;
  height: 80%;
}
.nachSpielViewRow{
  height: 10%;
}
.resultCell{
  position: relative;
  /*left: 44%;*/
  background-color: bisque;
  font-family: sans-serif;
  font-weight: bolder;
  border-style: double;
  text-align: center;
}

.nachSpielKarte{
  max-width: 7%;
  min-width: 7%;
  /* height: 10%; */
  max-height: 90px;
  min-height: 90px;
  border-width: thin;
  border-style: solid;
  margin: 2px 2px 2px 2px;
  margin-left: 46.5%;
  margin-top: 0%;
  position: relative;
  float: left;
  background-color: gray;
  overflow-wrap: break-word;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 88%;
}

.nachSpielViewKartenRow{
  position: relative;;
  /*background: rgba(220,160,140,0.5);*/
  width: 100%;
  height: 15%;
}

.neustartButton{
  background-color: bisque;
  position: relative;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
  margin-left: 48%;
}

.neustartButton:hover{
  background-color: bisque;
  position: relative;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
  margin-left: 48%;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------Kartendaten-------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.kartenid1 {
  background-image: url("img/Schriftzüge/nameAbra.png"),url("img/abra.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
  /*background-image: url("img/abra.png");
  background-size: contain;
  border-style: ridge;
  border-color: black;
  border-width: 3px;*/

}

.kartenid2 {
  background-image: url("img/Schriftzüge/nameAlpollo.png"),url("img/alpollo.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid3 {
  background-image: url("img/Schriftzüge/nameArbok.png"),url("img/arbok.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 73%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid4 {
  background-image: url("img/Schriftzüge/nameArkani.png"),url("img/arkani.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 83%, 35%, 300%;
  background-position-y: 100%,7%, 75%, 81%;
  background-position-x: 0%,111%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid5 {
  background-image: url("img/Schriftzüge/nameAustos.png"),url("img/austos.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 90%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid6 {
  background-image: url("img/Schriftzüge/nameBibor.png"),url("img/bibor.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%,  36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid7 {
  background-image: url("img/Schriftzüge/nameBisasam.png"),url("img/bisasam.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 74%, 35%, 300%;
  background-position-y: 100%, 12%, 75%, 81%;
  background-position-x: 0%, 87%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid8 {
  background-image: url("img/Schriftzüge/nameBisaknosp.png"),url("img/bisaknosp.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 77%, 35%, 300%;
  background-position-y: 100%, 20%, 75%, 81%;
  background-position-x: 0%, 73%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid9 {
  background-image: url("img/Schriftzüge/nameDigda.png"),url("img/digda.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 79%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid10 {
  background-image: url("img/Schriftzüge/nameDigdri.png"),url("img/digdri.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 77%, 35%, 300%;
  background-position-y: 100%, 46%, 75%, 81%;
  background-position-x: 0%, 104%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid11 {
  background-image: url("img/Schriftzüge/nameElektek.png"),url("img/elektek.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid12 {
  background-image: url("img/Schriftzüge/nameFukano.png"),url("img/fukano.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid13 {
  background-image: url("img/Schriftzüge/nameGarados.png"),url("img/garados.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid14 {
  background-image: url("img/Schriftzüge/nameGeorok.png"),url("img/georok.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 90%, 35%, 300%;
  background-position-y: 100%, 17%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid15 {
  background-image: url("img/Schriftzüge/nameGeowaz.png"),url("img/geowaz.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 80%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid16 {
  background-image: url("img/Schriftzüge/nameGlumanda.png"),url("img/glumanda.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid17 {
  background-image: url("img/Schriftzüge/nameGlutexo.png"),url("img/glutexo.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid18 {
  background-image: url("img/Schriftzüge/nameGolbat.png"),url("img/golbat.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 81%, 35%, 300%;
  background-position-y: 100%, 3%, 75%, 81%;
  background-position-x: 0%, 144%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid19 {
  background-image: url("img/Schriftzüge/nameGoldini.png"),url("img/goldini.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 85%, 35%, 300%;
  background-position-y: 100%, 30%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid20 {
  background-image: url("img/Schriftzüge/nameGolking.png"),url("img/golking.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 82%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 119%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid21 {
  background-image: url("img/Schriftzüge/nameHornliu.png"),url("img/hornliu.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid22 {
  background-image: url("img/Schriftzüge/nameKadabra.png"),url("img/kadabra.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 84%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid23 {
  background-image: url("img/Schriftzüge/nameKarpador.png"),url("img/karpador.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 85%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 138%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid24 {
  background-image: url("img/Schriftzüge/nameKingler.png"),url("img/kingler.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid25 {
  background-image: url("img/Schriftzüge/nameKleinstein.png"),url("img/kleinstein.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 67%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid26 {
  background-image: url("img/Schriftzüge/nameKnogga.png"),url("img/knogga.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 90%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 137%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid27 {
  background-image: url("img/Schriftzüge/nameKokuna.png"),url("img/kokuna.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 88%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid28 {
  background-image: url("img/Schriftzüge/nameKrabby.png"),url("img/krabby.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid29 {
  background-image: url("img/Schriftzüge/nameMachollo.png"),url("img/machollo.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid30 {
  background-image: url("img/Schriftzüge/nameMaschock.png"),url("img/maschock.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 83%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 127%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid31 {
  background-image: url("img/Schriftzüge/nameMuschas.png"),url("img/muschas.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid32 {
  background-image: url("img/Schriftzüge/nameNebulak.png"),url("img/nebulak.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid33 {
  background-image: url("img/Schriftzüge/nameNidoran_m.png"),url("img/nidoran_m.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid34 {
  background-image: url("img/Schriftzüge/nameNidoran_w.png"),url("img/nidoran_w.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 88%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 133%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid35 {
  background-image: url("img/Schriftzüge/nameNidorina.png"),url("img/nidorina.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 76%, 35%, 300%;
  background-position-y: 100%, -28%, 75%, 81%;
  background-position-x: 0%, 115%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid36 {
  background-image: url("img/Schriftzüge/nameNidorino.png"),url("img/nidorino.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 65%, 35%, 300%;
  background-position-y: 100%, 0%, 75%, 81%;
  background-position-x: 0%, 99%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid37 {
  background-image: url("img/Schriftzüge/nameOnix.png"),url("img/onix.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid38 {
  background-image: url("img/Schriftzüge/nameParas.png"),url("img/paras.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid39 {
  background-image: url("img/Schriftzüge/nameParasek.png"),url("img/parasek.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid40 {
  background-image: url("img/Schriftzüge/namePikachu.png"),url("img/pikachu.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid41 {
  background-image: url("img/Schriftzüge/nameRaichu.png"),url("img/raichu.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 79%, 35%, 300%;
  background-position-y: 100%, 7%, 75%, 81%;
  background-position-x: 0%, 97%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid42 {
  background-image: url("img/Schriftzüge/nameRattfratz.png"),url("img/rattfratz.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 90%, 35%, 300%;
  background-position-y: 100%, -16%, 75%, 81%;
  background-position-x: 0%, 113%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid43 {
  background-image: url("img/Schriftzüge/nameRattikal.png"),url("img/rattikal.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid44 {
  background-image: url("img/Schriftzüge/nameRaupy.png"),url("img/raupy.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid45 {
  background-image: url("img/Schriftzüge/nameRettan.png"),url("img/rettan.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid46 {
  background-image: url("img/Schriftzüge/nameSafcon.png"),url("img/safcon.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 80%, 35%, 300%;
  background-position-y: 100%, 9%, 75%, 81%;
  background-position-x: 0%, 103%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid47 {
  background-image: url("img/Schriftzüge/nameSchiggy.png"),url("img/schiggy.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 76%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid48 {
  background-image: url("img/Schriftzüge/nameSchillok.png"),url("img/schillok.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 79%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid49 {
  background-image: url("img/Schriftzüge/nameSimsala.png"),url("img/simsala.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 83%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 116%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid50 {
  background-image: url("img/Schriftzüge/nameSleima.png"),url("img/sleima.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 86%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 115%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid51 {
  background-image: url("img/Schriftzüge/nameSleimok.png"),url("img/sleimok.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 86%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 120%,0%,0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

/*---------------------Helden-------------------*/
.kartenid52 {
  background-image: url("img/Schriftzüge/nameArktos.png"),url("img/arktos.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid53 {
  background-image: url("img/Schriftzüge/nameGlurak.png"),url("img/glurak.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid54 {
  background-image: url("img/Schriftzüge/nameBisaflor.png"),url("img/bisaflor.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 87%, 35%, 300%;
  background-position-y: 100%, 35%, 75%, 81%;
  background-position-x: 0%, 125%, 0%, 0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid55 {
  background-image: url("img/Schriftzüge/nameRelaxo.png"),url("img/relaxo.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid56 {
  background-image: url("img/Schriftzüge/nameTurtok.png"),url("img/turtok.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid57 {
  background-image: url("img/Schriftzüge/nameZapdos.png"),url("img/zapdos.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid58 {
  background-image: url("img/Schriftzüge/nameGengar.png"),url("img/gengar.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 90%, 35%, 300%;
  background-position-y: 100%, 2%, 75%, 81%;
  background-position-x: 0%, 84%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid59 {
  background-image: url("img/Schriftzüge/nameNidoking.png"),url("img/nidoking.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid60 {
  background-image: url("img/Schriftzüge/nameNidoqueen.png"),url("img/nidoqueen.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid61 {
  background-image: url("img/Schriftzüge/nameLavados.png"),url("img/lavados.png"),url("img/tank.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 100%, 35%, 300%;
  background-position-y: 100%, 20%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid62 {
  background-image: url("img/Schriftzüge/nameMachomai.png"),url("img/machomai.png"),url("img/bow.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid63 {
  background-image: url("img/Schriftzüge/nameSichlor.png"),url("img/sichlor.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, contain, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 75%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

.kartenid64 {
  background-image: url("img/Schriftzüge/nameTauboss.png"),url("img/tauboss.png"),url("img/fist.png"), url("img/rowhintergrund.jpg");
  background-size: contain, 89%, 35%, 300%;
  background-position-y: 100%, 36%, 75%, 81%;
  background-position-x: 0%, 69%,0%,0%;
  border-style: ridge;
  border-color: gold;
  border-width: 3px;
}

/*---------------------Wetter-------------------*/

.kartenid100{
  background-image:  url("img/Schriftzüge/nameNebel.png"),url("img/Wetter/nebel.jpg");
  background-size: contain, 126%;
  background-position-x: 0%, 48%;
  background-position-y: 100%, 0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid101{
  background-image:  url("img/Schriftzüge/nameSonne.png"),url("img/Wetter/gutesWetter.jpg");
  background-size: contain, 126%;
  background-position-x: 0%, 48%;
  background-position-y: 100%, 0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid102{
  background-image: url("img/Schriftzüge/nameSchnee.png"),url("img/Wetter/schnee.jpg");
  background-size: contain, 126%;
  background-position-x: 0%, 48%;
  background-position-y: 100%, 0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

.kartenid103{
  background-image:  url("img/Schriftzüge/nameRegen.png"),url("img/Wetter/regen.jpeg");
  background-size: contain, cover;
  background-position-y: 100%, 0%;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
}

/*-------------------- Sonstiges ---------------------*/
.cardAnchor{
  width: 12%;
}

.nestedTest{
  background-color: aqua;
  background-size: 33%;
}

/*
.kartenStapelHook{
  overflow: scroll;
  max-height: 100%;
}*/

.innerElement{
  background-color: rgba(255,0,0,0.5);
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%
}
.innerElementTable{
  width: 100%;
}
.innerElementRow0{

}
.innerElementRow1{

}

.cardNameTextDefault{
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardNameTextEngebindung{
  color: orange;
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardNameTextHorn{
  color: greenyellow;
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardNameTextHeiler{
  color: green;
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardNameTextMoralschub{
  color: deepskyblue;
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardNameTextSpion{
  color: blueviolet;
  /*top: 40%;*/
  min-width: 1%;
  font-size: x-large;
  /* position: relative;
   margin-top: 64%;
   margin-right: 100%;*/
}
.cardApElement{

}

.helpTableColor{
  background-color: wheat;
}
.helpTableColorBrotherhood{
  background-color: orange;
}
.helpTableColorHealer{
  background-color: green;
}
.helpTableColorHorn{
  background-color: greenyellow;
}
.helpTableColorMoraleBoost{
  background-color: deepskyblue;
}
.helpTableColorSpy{
  background-color: blueviolet;
}
.helpTableColorWeather{
  background-color: wheat;
}
.helpTableColorGoodWeather{
  background-color: wheat;
}
.helpTableButtonBackground{

}

.invis{
  display: none;
}

.cardInfoDiv{
  display: block;
  position: absolute;
  max-width: 17%;
  background-color: grey;
}

.backButton{
  background-color: bisque;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: burlywood;
}

.backButton:hover{
  background-color: bisque;
  height: 3em;
  font-family: sans-serif;
  font-weight: bolder;
  border-width: thick;
  border-style: ridge;
  border-color: gold;
}